<header id="header" xmlns="http://www.w3.org/1999/html">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" (click)="toggleState()" style="background-color: inherit">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="Tlogo" src="assets/images/badge.jpg"> </a>
      </div>
      <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="mwanzo" routerLinkActive="active">Mwanzo</a></li>
          <li><a routerLink="kutuhusu"  routerLinkActive="active">kutuhusu</a></li>
          <li><a routerLink="wasiliana"  routerLinkActive="active">wasiliana nasi</a></li>
          <li><a routerLink="ingia"  routerLinkActive="active">jisajili/ingia</a></li>

        </ul>
      </div>
    </div>
  </nav>
</header>
